.mp-parfum-item-cover {
	height: 220px;
	width: 220px;
	border-radius: 20px;
}

.mp-parfum-item {
	margin: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}
.parfum-desc p{
	margin: auto;
}
.mp-parfum-item-hover{
	margin: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
    background-color: white;
}